<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">Empresa Admin</a>
        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>

<div class="@NavMenuCssClass nav-scrollable" @onclick="ToggleNavMenu">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="home-inicial" Match="NavLinkMatch.All">
                <span class="bi bi-house-door-fill" aria-hidden="true"></span> Página Inicial
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="criar-produto">
                <span class="bi bi-plus-square-fill" aria-hidden="true"></span> Cadastro - Prod.
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="criar-fornecedor">
                <span class="bi bi-plus-square-fill" aria-hidden="true"></span> Cadastro - Forn.
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="consulta-produto">
                <span class="bi bi-search" aria-hidden="true"></span> Produtos
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="consulta-fornecedor">
                <span class="bi bi-search" aria-hidden="true"></span> Fornecedores
            </NavLink>
        </div>
    </nav>
</div>

@code {
    private bool collapseNavMenu = true;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
